<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<!-- <head th:replace="header2 :: head(~{this :: title}, ~{this :: .custom-link}, ~{this :: .custom-script})"> -->
<<head th:replace="header2 :: head(~{:: title}, ~{:: link})">
<!-- <head th:replace="header2 :: head"> -->
	<title>Project Nectar</title>
  	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="" />
	<meta name="author" content="" />
	<link class="custom-link" rel="icon" href="favicon.ico" />
	
	<!-- Bootstrap core CSS -->
	<link class="custom-link" 
	  href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	  rel="stylesheet"
	  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	  crossorigin="anonymous" />

	<link  class="custom-link" th:href="@{css/style.css}" rel="stylesheet" />
</head>

<body class="gray-bg">

    <div th:replace="header2 :: header">
      <!-- ============================================================================ -->
      <!-- This content is only used for static prototyping purposes (natural templates)-->
      <!-- and is therefore entirely optional, as this markup fragment will be included -->
      <!-- from "fragments/header.html" at runtime.                                     -->
      <!-- ============================================================================ -->
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Static header</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  <div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
    

	<form th:action="@{/register}" method="get">
		<button class="btn btn-md btn-warning btn-block" type="Submit">Sign Up</button>
	</form>	
		<img th:src="@{/images/login.jpg}" class="img-responsive center-block" width="300" height="300" alt="Logo" />
		
			<h4>Sign In</h4>
		<form th:action="@{/login}" method="POST" class="m-t" role="form"
        data-toggle="validator">
			
		<div class="form-group input-group has-feedback"> 
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </span>
			<input type="text" id="email" name="email"  th:placeholder="Email"
				class="form-control" /> 
          <span class="glyphicon form-control-feedback"
            aria-hidden="true"></span>			
        </div>
        
		<div class="form-group input-group has-feedback"> 
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </span>		
			<input type="password"  th:placeholder="Password"
				id="password" name="password" class="form-control" />
          <span class="glyphicon form-control-feedback"
            aria-hidden="true"></span> 
        </div>
				
			<div align="center" th:if="${param.error}">
				<p style="font-size: 20; color: #FF1C19;">Email or Password invalid, please verify</p>
			</div>
			
			<button type="submit" 
				class="btn btn-primary block full-width m-b">Sign In</button>
				
        </form>
       <p class="m-t">
      
      </p>
    </div>
  </div>


  <!-- jQuery-->
  <script
    src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <!-- Bootstrap -->
  <script
    src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>

  <!-- Bootstrap Validator plugin -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
  
  
</body>
</html>